@font-face {
  font-family: 'Ogg';
  font-style: normal;
  font-weight: normal;
  src:
    url('./../assets/fonts/ogg/Ogg-Regular.eot') format('embedded-opentype'),
    url('./../assets/fonts/ogg/Ogg-Regular.otf') format('opentype'),
    url('./../assets/fonts/ogg/Ogg-Regular.ttf') format('truetype'),
    url('./../assets/fonts/ogg/Ogg-Regular.woff') format('woff'),
    url('./../assets/fonts/ogg/Ogg-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Ogg';
  font-style: italic;
  font-weight: normal;
  src:
    url('./../assets/fonts/ogg/Ogg-RegularItalic.eot') format('embedded-opentype'),
    url('./../assets/fonts/ogg/Ogg-RegularItalic.otf') format('opentype'),
    url('./../assets/fonts/ogg/Ogg-RegularItalic.ttf') format('truetype'),
    url('./../assets/fonts/ogg/Ogg-RegularItalic.woff') format('woff'),
    url('./../assets/fonts/ogg/Ogg-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'OggText';
  font-style: normal;
  font-weight: normal;
  src:
    url('./../assets/fonts/ogg/OggText-Light.eot') format('embedded-opentype'),
    url('./../assets/fonts/ogg/OggText-Light.otf') format('opentype'),
    url('./../assets/fonts/ogg/OggText-Light.ttf') format('truetype'),
    url('./../assets/fonts/ogg/OggText-Light.woff') format('woff'),
    url('./../assets/fonts/ogg/OggText-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'SuisseIntl';
  font-style: normal;
  font-weight: normal;
  src: url('./../assets/fonts/suisse-intl/SuisseIntl-Regular.otf') format('opentype'),
}

@font-face {
  font-family: 'SuisseIntl';
  font-style: normal;
  font-weight: 600;
  src: url('./../assets/fonts/suisse-intl/SuisseIntl-SemiBold.otf') format('opentype'),
}

@font-face {
  font-family: 'SuisseIntl';
  font-style: normal;
  font-weight: bold;
  src: url('./../assets/fonts/suisse-intl/SuisseIntl-Bold.otf') format('opentype'),
}
